@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  position: relative;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.2rem;
  background-color: #f9f9f9;
  overflow: hidden;
  overflow-y: auto;
  min-height: 100vh;
  width: 100vw;
}

/* Title */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  margin-bottom: 5px;
}

.header h1 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  position: relative;
  font-size: 3rem;
  color: #222;
  text-transform: uppercase;
}

/* End of Title */
/* Account Savings and Income Box */

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  letter-spacing: 0.1rem;
  width: 100%;
  margin-top: 20px;
  padding-bottom: 20px;
  overflow: visible;
}

.input .shadow h4 {
  text-align: center;
  padding: 0.5rem;
  padding-left: 0;
  margin-bottom: 5px;
  color: #aaa;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  font-weight: 400;
  white-space: nowrap;
  text-transform: capitalize;
  text-align: center;
}

/* End of Account Savings and Income Box */
/* Description */
@keyframes blink {
  0% {
    width: 0.125em;
  }
  
  to {
    background-color: transparent;
  }
}
  
@keyframes type {
  to {
    left: 100%;
  }
}
  
#one {
  text-transform: capitalize;
  text-align: center;
  margin: 5px;
  margin-bottom: 10px;
}
  
#six::after,
#five::after,
#two::after,
#three::after,
#four::after {
  animation:
    type var(--duration) steps(var(--length)) var(--delay) forwards,
    blink 750ms steps(var(--length)) var(--delay) infinite;
}
  
#six::before,
#five::before,
#one::before,
#two::before,
#three::before,
#four::before {
  background-color: #f9f9f9;
  animation:
    type var(--duration) steps(var(--length)) var(--delay) forwards;
}
  
.input .description::before,
.input .description::after {
  content: '';
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  position: absolute;
}
  
.input .description::after {
  width: 0;
  background-color: #222;
  animation:
    type var(--duration) steps(var(--length)) 1s forwards,
    blink 750ms steps(var(--length)) infinite;
}
  
.description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: auto;
  margin: 0 7px;
  margin-top: 20px;
}
  
.description-container li {
  font-family: 'Source Code Pro',
  monospace;
  position: relative;
  width: auto;
  list-style: none;
  font-size: 0.7rem;
  align-self: flex-start;
  margin: 5px;
  margin-left: 10px;
  white-space: normal;
}
  
.description-container li:first-child {
  align-self: center;
  font-weight: 700;
}
  
/* End of Description */
/* Modal */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border: 1px solid #222;
  z-index: 10;
  background-color: white;
  width: auto;
  max-width: 80%;
  transition: 0.5s ease transform;
  height: auto;
}

.modal.on {
  transform: translate(-50%, -50%) scale(1);
}

.close-modal {
  padding: 0;
  margin: 0;
  object-fit: cover;
  filter: brightness(0) invert(1);
  width: 15px;
  height: 15px;
}

.close-modal img {
  width: 10px;
  height: 10px;
  display: block;
  margin: auto;
  color: #f9f9f9;
}

.modal table tr:first-child th:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.modal table {
  margin: 10px;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0;
  text-transform: capitalize;
  vertical-align: middle;
  border-style: hidden;
}

.modal table th {
  padding: 5px 7px;
  text-align: center;
  font-size: 1rem;
}

.modal table tr {
  color: #222;
  font-size: 0.9rem;
}

.modal table tr:first-child {
  background-color: #6CB4EE;
  color: #fafafa;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);
  opacity: 0;
  z-index: 9;
  pointer-events: none;
  transition: 0.5s ease opacity;
}

#overlay.on {
  pointer-events: all;
  opacity: 0.7;
}

/* End of Modal */
/* Dropdown Menu */
.dropdown {
  position: relative;
  overflow: visible;
  z-index: 8;
}

.dropdown::before {
  content: '';
  position: absolute;
  border: 2px solid #222;
  border-top: 0;
  border-right: 0;
  transform: rotate(-45deg);
  z-index: 2;
  right: 20px;
  transition: 0.5s ease;
  pointer-events: none;
  width: 8px;
  height: 8px;
  top: 35px;
}

.dropdown .options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  pointer-events: none;
  background-color: #f2f2f2;
  border-radius: 10px;
  overflow: hidden;
  transform: translateY(-15px);
  opacity: 0;
  transition: 0.3s ease opacity, 0.5s ease transform;
  z-index: 8;
}

.dropdown.active::before {
  top: 38px;
  transform: rotate(-225deg);
}

.dropdown.active>.custom-field+.options {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown .options li {
  cursor: pointer;
  transition: 0.3s ease all;
  padding: 6px 10px;
  font-size: 1rem;
}

.dropdown .options li:hover {
  background-color: #6CB4EE;
  color: #f2f2f2;
}
.dropdown .options li i {
  font-size: 0.8rem;
}

/* End of Dropdown */
/* fancy styling for all input boxes */
.custom-field {
  position: relative;
  font-size: 0.7rem;
  padding-top: 20px;
  margin-bottom: 10px;
}

.custom-field .placeholder {
  position: absolute;
  left: 12px;
  top: calc(50% + 10px);
  text-transform: capitalize;
  transform: translateY(-50%);
  color: #aaa;
  transition: 0.3s ease all;
  pointer-events: none;
  font-size: 0.8rem;
}

.custom-field .input-box:read-only+.placeholder,
.custom-field .input-box:valid+.placeholder,
.custom-field .input-box:focus+.placeholder {
  top: 8px;
  font-size: 10px;
  color: #222;
}

.input-box {
  all: unset;
  background: #f2f2f2;
  border-radius: 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: linear-gradient(90deg, #222, #222) center bottom/0 2px no-repeat,
    linear-gradient(90deg, #ccc, #ccc) left bottom/100% 2px no-repeat,
    linear-gradient(90deg, #fafafa, #fafafa) left bottom/100% no-repeat;
  transition: background-size 0.3s ease;
  width: 250px;
  height: 12px;
  padding: 15px;
  font-size: 0.8rem;
}

.input-box:read-only,
.input-box:valid,
.input-box:focus {
  background-size: 100% 2px, 100% 2px, 100%;
}

input[type="date"]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}

input[type="date"]:focus::-webkit-datetime-edit {
  color: black !important;
}

/* end of fancy styling for input boxes */
/* Styling for all buttons */
.add-expense-btn::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #6CB4EE;
  transition: 0.5s ease width, 0.5s ease height;
}

.add-expense-btn:hover::before {
  width: 300px;
  height: 300px;
}

.add-expense-btn {
  position: relative;
  border-radius: 3px;
  margin: 10px 0 5px 0;
  background-color: #f2f2f2;
  color: #222;
  font-size: 0.6rem;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  transition: 0.5s ease color;
  padding: 10px 8px;
  width: 160px;
}
.add-expense-btn span {
  font-size: 0.9rem;
}
.add-expense-btn i {
  font-size: 14px;
  margin-left: 0;
}
#save-btn:hover i,
#save-btn:focus i,
#add-expense-btn:hover i,
#add-expense-btn:focus i,
.add-expense-btn:hover,
.add-expense-btn:focus {
  color: #f2f2f2;
}

#save-btn,
#add-expense-btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#save-btn i {
  margin-left: -10px;
}

#add-expense-btn i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222;
  height: 20px;
  font-size: 9px;
  padding-right: 7px;
  padding-left: 3px;
  transition: 0.5s ease color;
}

#add-expense-btn span {
  padding-left: 7px;
}

/* End of styling for all buttons */
.output-table {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10rem;
  margin-top: 2rem;
}

table {
  width: 80vw;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0;
  text-transform: capitalize;
  vertical-align: middle;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tr:first-child {
  background-color: #222;
  color: white;
}

td,
th {
  height: max-content;
  padding: 10px;
  font-size: 1rem;
  width: auto;
}

th {
  text-transform: uppercase;
}

.delete-btn {
  padding: 0;
  margin: 0;
  object-fit: cover;
  transition: 0.3s ease all;
  width: 30px;
  height: 30px;
}

.delete-btn img {
  display: block;
  margin: auto;
  transition: 0.3s ease all;
  width: 20px;
  height: 20px;
}

.delete-btn:hover {
  background-color: #ff4136;
}

.delete-btn:hover img {
  filter: brightness(0) invert(1);
}

.hidden {
  display: none;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: initial;
  width: 290px;
}

.info .account-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-items: center;
}

.info .account-info .icon-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}

.info .account-info span {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
}

.info .account-info .expense-history {
  color: #222;
}

.info .account-info i {
  color: #aaa;
  transition: 0.3s ease color;
}

.info .account-info i:hover {
  color: #222;
}

.info h4 {
  text-align: center;
  padding: 0.3rem;
  padding-left: 0;
  color: #aaa;
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
  font-weight: 400;
  white-space: nowrap;
}

.info .all {
  width: 100%;
  margin: 0.5rem;
  margin-left: 0;
}

.info .first {
  border-left: 3px solid #0074d9;
}

.info .second {
  border-left: 3px solid #2ecc40;
}

.info .third {
  border-left: 3px solid #ff4136;
}

.info div h3 {
  text-transform: capitalize;
  text-align: left;
  letter-spacing: 0.2rem;
  padding: 0.5rem;
  font-weight: 400;
  margin-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.info div h3 .bold {
  font-weight: 700;
  color: #222;
}

.green {
  color: #32cd32;
}

.blue {
  color: #0074d9;
}

.red {
  color: #ff4136;
}

.shadow {
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
  background-color: white;
  width: 350px;
  padding: 20px;
  margin: 0.7rem;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: visible;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.disable-scroll {
  overflow-y: hidden;
  position: fixed;
  height: 100vh;
  padding: 0 3vw;
}

/* Positive Alert */
.positive-alert {
  background-color: #98FB98;
  position: fixed;
  right: 0;
  top: 10px;
  border-radius: 4px;
  border-left: 8px solid #228B22;
  overflow: hidden;
  transform: translateX(110%);
  z-index: 100;
  min-width: 420px;
  padding: 20px 40px;
}

.positive-alert.show {
  animation: show_slide 1s ease forwards;
}

.positive-alert.hide {
  animation: pull_slide 1s ease forwards;
}

.positive-alert .fa-circle-check {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #006400;
  font-size: 20px;
}

.positive-alert .positive-msg {
  color: #008000;
  text-transform: capitalize;
  padding: 0 20px;
  font-size: 0.9rem;
}

.positive-alert .close-positive-alert {
  position: absolute;
  background-color: #32CD32;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s ease background-color;
  cursor: pointer;
  padding: 20px 18px;
}

.positive-alert .close-positive-alert:hover {
  background-color: #32cd62;
}

.positive-alert .fa-x {
  color: #006400;
  line-height: 40px;
  font-size: 20px;
}

/* Alert */
.alert {
  background-color: #ffbaba;
  position: fixed;
  right: 0;
  top: 10px;
  border-radius: 4px;
  border-left: 8px solid #d9381e;
  overflow: hidden;
  transform: translateX(110%);
  z-index: 100;
  min-width: 420px;
  padding: 20px 40px;
}

.alert.show {
  animation: show_slide 1s ease forwards;
}

.alert.hide {
  animation: pull_slide 1s ease forwards;
}

@keyframes pull_slide {
  0% {
    transform: translateX(-10px);
  }

  50% {
    transform: translateX(-30px);
  }

  100% {
    transform: translateX(110%);
  }
}

@keyframes show_slide {
  0% {
    transform: translateX(110%);
  }

  40% {
    transform: translateX(-15px);
  }

  80% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(-15px);
  }
}

.alert .fa-circle-exclamation {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #D21F3C;
  font-size: 20px;
}

.alert .msg {
  color: #ff5252;
  text-transform: capitalize;
  padding: 0 20px;
  font-size: 0.9rem;
}

.alert .close-alert {
  position: absolute;
  background: #FC7676;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s ease background-color;
  cursor: pointer;
  padding: 20px 18px;
}

.alert .close-alert:hover {
  background-color: #FC6666;
}

.alert .fa-x {
  color: #D21F3C;
  font-size: 20px;
  line-height: 40px;
}

/* End of Alert */
/* Footer */
footer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: #222;
  color: #f9f9f9;
  text-align: center;
  z-index: 6;
  overflow-y: hidden;
}

footer h2 {
  padding-bottom: 0;
  width: max-content;
  transition: 0.3s ease color;
  font-size: 1rem;
  margin-top: 0;
  padding: 0;
}

footer h2:hover {
  color: #ff4136;
}

footer .social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer .social-icons .social-item {
  margin: 5px;
  width: 25px;
  filter: grayscale(1);
  transition: 0.3s ease filter;
}
footer .social-icons .social-item:hover {
  filter: grayscale(0);
}

footer .social-icons .social-item img {
  width: 100%;
}

footer p {
  padding-bottom: 5px;
  font-size: 0.6rem;
}

footer p span {
  transition: 0.3s ease all;
}

footer p span:hover {
  color: #ff4136;
}

/* End of Footer */

/* Media Queries */
@media only screen and (min-width: 1200px) and (min-height: 750px){
  .header h1 {
    font-size: 4rem;
  }

  .description-container {
    margin-top: 10px;
  }

  .shadow{
    width: 400px;
  }

  .input-box{
    width: 275px;
    height: 14px;
  }

  .description-container li {
    font-size: 1rem;
  }

  .modal table {
    width: 700px;
  }

  footer {
    height: 120px;
  }

  footer h2 {
    font-size: 1.5rem;
  }

  footer .social-icons .social-item {
    width: 35px;
    margin: 7px;
  }

  footer p {
    font-size: 0.9rem;
  }
}

/* End of Media Queries */